html {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

#playground {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.play-section {
    padding: 5%;
    width: 50%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.scoreboard {
    margin: 20px;;
    height: 100px;
    width: 100px;
    border: 10px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#human-section {
    background-color: #C4DFE6;
}

#computer-section {
    background-color: #D4E4F7;
}

#human-play {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

#human-play > button {
    padding: 10px 10px;
    background-color:  #C4DFE6;
    border-color: #66A5AD;
    border-radius: 5px;
    font-size: large;
}

#results {
    text-align: center;
}